#layout{
    display: grid;
    grid-template-columns: 1fr, 1fr, 1,fr, 1fr;
    grid-template-rows: 20%, 10%, 1fr;
    padding: 0.2%;
} 

header{
    background-color: #38b6ff;
    font-family: "cairo", sans-serif;
    font-weight: bolder;
    font-size: 250%;
    padding-left: 100px;
    padding-top: 0px;
    padding-bottom: 0px;
}

nav{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background-color: rgb(56, 182, 255, 0.43);
    color: black;
    font-family: "ABeeZee", sans-serif;
    font-size: 140%;
    margin: 0;
    padding: 0.5%;
    text-align: center;
    
}

.center {
    margin: auto;
    width: 40%;
    height: auto;
    padding-top: 100px;
  }

.sitetitle {
    font-family: "ABeeZee", sans-serif;
    font-size: 450%;
    padding-left: 17%;
    padding-top: 100px;
    margin: 0;
    font-weight: bolder;
    
}

a{
    color: black;
    text-decoration: none;
}

a:hover{
    color: #FF0000;
}

footer{
    display: inline-block;
    background-color: #38b6ff;
    font-family: "ABeeZee", sans-serif;
    font-size: 190%;
    padding: 15px;
    text-align: center;
    margin-top: 150px;
}

.hometitle{
    font-family: "ABeeZee", sans-serif;
    font-size: 400%;
    font-weight: bolder;
    padding-left: 17%;
    padding-top: 100px;
    margin: 0;
}

p{
    font-family: "ABeeZee", sans-serif;
    font-size: 250%;
    padding-left: 17%;
    padding-right: 17%;
    padding-top: 0px;
    line-height: 55px;
}

.subtitle{
    font-family: "ABeeZee", sans-serif;
    font-size: 340%;
    padding-left: 17%;
    margin-bottom: 0%;
}

ul{
    padding-left: 23%;
    padding-right: 23%;
    font-family: "ABeeZee", sans-serif;
    font-size: 250%;
    line-height: 60px;
    
}

.citedsources{
    text-decoration: underline;
    font-size: 90%;
    padding-left: 5%;
}

.contentImgs{
    margin: auto;
    width: 25%;
    height: auto;
    padding-top: 100px;
}

.imglinks{
    text-decoration: none;
    padding: 5px;
}